body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #7581a1;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
	font-weight: 600;
	line-height: 90px;
	color: #192b59;
}

.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

.btn-primery {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #1085e4;
	border: 1px solid #1085e4;
	padding: 21px 40px;
	border-radius: 29px;
}
.btn-primery:hover {
	color: #1085e4;
	background-color: #fff;

}
.btn-secondary {
	color: #7e8bae;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #cbdbe8;
	border: 1px solid #cbdbe8;
	padding: 21px 40px;
	border-radius: 29px;
}

.btn-secondary:hover {
	color: #7e8bae;
	background-color: #fff;
}

.btn-free {
	font-weight: 400;
	padding: 20px 57px;
	letter-spacing: 1.2px;
}
.btn-info {
	color: #8085b1;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 21px 40px;
	border-radius: 29px;
	background-color: transparent;
	border: 1px solid #dce1e5;

}	

.btn-group a + a {
	margin-left: 15px;
}

.grid h2 {
	font-size: 40px;
	line-height: 50px;
	color: #192b59;
	font-weight: 700;
	
}

.grid h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #1085e4;
	display: block;
	
}
.grid-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}

.grid-item a {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}

.grid-item p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}
.page-grid_down p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}

.page-grid_down p span {
	font-weight: 700;
	color: black;
}
.page-subscribe-wrap span {
	font-size: 14px;
	font-weight: 800;
	color: #00bffe;
	display: block;
}

.page-software h2 {
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	color: #192b59;
}
.page-software p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}

.page-software dt {
	font-weight: bold;
}

.page-stat_facts h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}

.page-stat_facts h2 span {
	font-size: 16px;
	font-weight: 700;
	color: #1085e4;
	display: block;
}

 .page-app_wraper p span {
	font-size: 16px;
	color: #c4d2dd;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: block;
}
.page-analytics_text button {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: #1085e4;
	border: 0px;
}

.page-analytics2_text button {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: #1085e4;
	border: 0px;
}

.page-screen_hd h2 {
	font-size: 40px;
	font-weight: 600;
	color: #192b59;
}

.page-screen_hd h2 span {
	font-size: 18px;
	font-weight: 800;
	color: #1085e4;
	text-transform: uppercase;
	display: block;
}