body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #7581a1;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -2.5px;
    color: #192b59;
    max-width: 540px;
    margin-bottom: 65px
}
.title-h2 {
	font-size: 50px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -1.5px;
    color: #192b59;
    
}	

.title-h2 span {
	display: block;
	font-size: 16px;
	font-weight: 800;
	margin-bottom: -4px;
	letter-spacing: 3px;
	color: #1085e4;
	text-transform: uppercase;
	
}

.page-stat .title-h2, .page-screen .title-h2 {
	text-align: center;
	margin: 0 auto;
	
}
.page-stat .title-h2 {
	max-width: 500px;
}

.wrap {
	max-width: 1110px;
	margin: 0 auto;
}

.header {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

}

.nav {
	font-size: 12px;
	font-weight: 700;
	color: #6e7ea9;
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.nav li {
	margin-left: 42px;
}
.nav_link {
	color: #6e7ea9;
}

.btn-primery {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #1085e4;
	border: 1px solid #1085e4;
	padding: 21px 40px;
	border-radius: 29px;
}
.btn-primery:hover {
	color: #1085e4;
	background-color: #fff;

}
.btn-secondary {
	color: #7e8bae;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #cbdbe8;
	border: 1px solid #cbdbe8;
	padding: 21px 40px;
	border-radius: 29px;
}

.btn-secondary:hover {
	color: #7e8bae;
	background-color: #fff;
}

.btn-free {
	font-weight: 400;
	color: #fff;
	padding: 20px 57px;
	letter-spacing: 1.2px;
}
.btn-info {
	color: #8085b1;
	font-size: 12px;
	letter-spacing: 1.9px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 21px 40px;
	border-radius: 29px;
	background-color: transparent;
	border: 1px solid #dce1e5;
}	

.btn-group a + a {
	margin-left: 15px;
}

.grid h2 {
	font-size: 40px;
	line-height: 50px;
	color: #192b59;
	font-weight: 700;
	
}

.grid h2 span {
	font-size: 14px;
	font-weight: 800;
	color: #1085e4;
	display: block;
	
}
.grid-item h3 {
	font-size: 20px;
	font-weight: 600;
	color: #192b59;
}

.grid-item a {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}

.grid-item p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}
.page-grid_down p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}

.page-grid_down p span {
	font-weight: 700;
	color: black;
}
.page-subscribe-wrap span {
	font-size: 14px;
	font-weight: 800;
	color: #00bffe;
	display: block;
}

.page-software h2 {
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	color: #192b59;
}
.page-software p {
	font-size: 16px;
	font-weight: 400;
	color: #7581a1;
}

.page-software dt {
	font-weight: bold;
}

.page-stat_facts h2 {
	font-size: 50px;
	font-weight: 600;
	color: #192b59;
}


 .page-app_wraper p span {
	font-size: 16px;
	color: #c4d2dd;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
	display: block;
}
.page-analytics_text button {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: #1085e4;
	border: 0px;
}

.page-analytics2_text button {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: #1085e4;
	border: 0px;
}

.page-screen_hd h2 {
	font-size: 40px;
	font-weight: 600;
	color: #192b59;
}

.page-screen_hd h2 span {
	font-size: 18px;
	font-weight: 800;
	color: #1085e4;
	text-transform: uppercase;
	display: block;
}

.list-stat {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 79px;

}
.list-stat li {
	font-size: 12px;
	font-weight: 700;
	color: #1085e4;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.8px

}
.list-stat>li>span {
	display: block;
	font-size: 60px;
	color: #bacbdc;
	margin-bottom: 23px;
}

.screen {
	margin-top: 66px;
	margin-bottom: -7px;
}
.plan-title {
	font-size: 40px;
	font-weight: 600;
	color: #192b59;
	text-align: center;
	margin-bottom: 82px;
}
.plan-title span {
	font-size: 18px;
	font-weight: 800;
	color: #1085e4;
	text-transform: uppercase;
	display: block;
	margin-bottom: 32px;
} 
.box-price {
	display: flex;
	justify-content: space-between;

}
.box-price_free {
	background-color: #f5faff;
	padding: 109px 77px;
}

.box-price_free p {
	font-size: 70px;
	font-weight: 700;
	color: #192b59;
	text-align: center;
	margin-top: -17px;
}
.box-price_free p+p {
	font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    margin-top: -33px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.box-price_90mo {
	background-color: #192b59;
	padding: 109px 77px;
}
.box-price_90mo p {
	font-size: 70px;
	font-weight: 700;
	color: #fff;
	margin-top: -17px;
	text-align: center;
}
.box-price_90mo p span {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}
.box-price_90mo p span+span {
	font-size: 20px;
	font-weight: 700;
	color: #7b8ab2;
	text-align: center;
}

.box-price_90mo p+p {
	font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-top: -56px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price_350mo {
	background-color: #f5faff;
	padding: 109px 77px;
}
.box-price_350mo p {
	font-size: 70px;
	font-weight: 700;
	color: #192b59;
	margin-top: -17px;
	text-align: center;
}
.box-price_350mo p span {
	font-size: 20px;
	font-weight: 700;
	color: #192b59;
	text-align: center;
}
.box-price_350mo p span+span {
	font-size: 20px;
	font-weight: 700;
	color: #7b8ab2;
	text-align: center;
}
.box-price_350mo p+p {
	font-size: 14px;
    font-weight: 700;
    color: #0084ff;
    margin-top: -54px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}
.box-price ul {
	font-size: 14px;
	font-weight: 600;
	list-style-type: none;
	text-align: center;
    padding-left: 0;
    margin-top: 34px;
    letter-spacing: -1px;
}
.price-1{
	margin-bottom: 16px;

}
.price-2 {
	margin-bottom: 14px;
}
.price-3 {
	margin-bottom: 13px;
}
.price-4 {
	margin-bottom: 12px;
}
.price-5 {
	margin-bottom: 8px;
}
.price-6 {
	margin-bottom: 51px;
}
.color {
	color: #fff;
}


/* PAGE */
.page-stat, .page-screen {
	background-color: #edf6ff;
	
}

.page-stat {
	padding: 116px 0 96px 0;
}

.page-screen {
	padding: 116px 0 0 0;
	text-align: center;
}
